.App {
  text-align: center;
  background-color: teal;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.tempCounter {
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  
}

.tempContainer {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  text-align: center;
  background-color: teal;
  height: 100vh;
  padding: 0;
  margin: 0;
}
button {
  margin: 10px;
  border-radius: 30%;
}

.navContain {
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.currentcotain {
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  text-align: center;
  background-color: teal;
  height: 100vh;
  padding: 10px;
  margin: 0;
}
